{%set closed_sunday = kitchen.schedule.week['1'].isClosed%}
{%set closed_monday = kitchen.schedule.week['2'].isClosed%}
{%set closed_tuesday = kitchen.schedule.week['3'].isClosed%}
{%set closed_wednesday = kitchen.schedule.week['4'].isClosed%}
{%set closed_thursday = kitchen.schedule.week['5'].isClosed%}
{%set closed_friday = kitchen.schedule.week['6'].isClosed%}
{%set closed_saturday = kitchen.schedule.week['7'].isClosed%}
<table class="schedule-grid">
    <thead>
        <tr>
            <th>Meal / Day</th>
            <th>
                Sunday<br>
                <div class="closed-label">
                    <label for="sunday_closed">Closed</label>
                    <input type="checkbox" name="sunday_closed" {%if closed_sunday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Monday<br>
                <div class="closed-label">
                    <label for="monday_closed">Closed</label>
                    <input type="checkbox" name="monday_closed" {%if closed_monday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Tuesday<br>
                <div class="closed-label">
                    <label for="tuesday_closed">Closed</label>
                    <input type="checkbox" name="tuesday_closed" {%if closed_tuesday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Wednesday<br>
                <div class="closed-label">
                    <label for="wednesday_closed">Closed</label>
                    <input type="checkbox" name="wednesday_closed" {%if closed_wednesday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Thursday<br>
                <div class="closed-label">
                    <label for="thursday_closed">Closed</label>
                    <input type="checkbox" name="thursday_closed" {%if closed_thursday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Friday<br>
                <div class="closed-label">
                    <label for="friday_closed">Closed</label>
                    <input type="checkbox" name="friday_closed" {%if closed_friday%}checked{%endif%} disabled>
                </div>
            </th>
            <th>
                Saturday<br>
                <div class="closed-label">
                    <label for="saturday_closed">Closed</label>
                    <input type="checkbox" name="saturday_closed" {%if closed_saturday%}checked{%endif%} disabled>
                </div>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th><p class="meal-header">{{lucide("egg-fried", size=20, class="meal-icon")}} Breakfast</p></th>
            {% set meal = "breakfast" %}
            {% set meal_open = "breakfast_open" %}
            {% set meal_closed = "breakfast_closed" %}
            {% include "schedule_grid/weekday_data_cell.html" %}
            
        </tr>

        <tr>
            <th><p class="meal-header">{{lucide("sandwich", size=20, class="meal-icon")}} Lunch</p></th>
            {% set meal = "lunch" %}
            {% set meal_open = "lunch_open" %}
            {% set meal_closed = "lunch_closed" %}
            {% include "schedule_grid/weekday_data_cell.html" %}
        </tr>

        <tr>
            <th> <p class="meal-header">{{lucide("utensils", size=20, class="meal-icon")}}Dinner </p></th>
            {% set meal = "dinner" %}
            {% set meal_open = "dinner_open" %}
            {% set meal_closed = "dinner_closed" %}
            {% include "schedule_grid/weekday_data_cell.html" %}
        </tr>

    </tbody>
</table>