<td class="slot" data-day="sunday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['1'][meal_open]}} - {{kitchen.schedule.week['1'][meal_closed]}}</p>
</td>
<td class="slot" data-day="monday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['2'][meal_open]}} - {{kitchen.schedule.week['2'][meal_closed]}}</p>
</td>
<td class="slot" data-day="tuesday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['3'][meal_open]}} - {{kitchen.schedule.week['3'][meal_closed]}}</p>
</td>
<td class="slot" data-day="wednesday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['4'][meal_open]}} - {{kitchen.schedule.week['4'][meal_closed]}}</p>
</td>
<td class="slot" data-day="thursday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['5'][meal_open]}} - {{kitchen.schedule.week['5'][meal_closed]}}</p>
</td>
<td class="slot" data-day="friday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['6'][meal_open]}} - {{kitchen.schedule.week['6'][meal_closed]}}</p>
</td>
<td class="slot" data-day="saturday" data-meal="{{meal}}">
    <p >{{kitchen.schedule.week['7'][meal_open]}} - {{kitchen.schedule.week['7'][meal_closed]}}</p>
</td>