<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'admin_dashboard.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'schedule_static.css')}}">
    </head>
    <body class="dashboard-page-body">
        <div class="dashboard">
            <div class="dashboard-nav">
                <h1>Admin Dashboard</h1>
                <div>
                    {{lucide("user-round", size=20)}}
                    <p style="margin-left: 5px;">{{g.user["username"]}}</p>
                </div>

                <form action="{{url_for('auth.logout')}}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div class="kitchen-info-section">
                <h2>Kitchens {{lucide("chef-hat", size=20)}}</h2>
                {%for kitchen in kitchens%}
                        <details class="kitchen-info-dropdown">
                            <summary class="info-dropdown-summary">
                                    <div class="summary-header">
                                        {{lucide('chevron-right', size=20)}}
                                        {{ kitchen.info.username}}
                                        {%if kitchen.info.isOperating == 0%}
                                            {{lucide('dot', size=40, style="color: red;")}}
                                        {%else%}
                                            {{lucide('dot', size=40, style="color: green;")}}
                                        {%endif%}
                                    </div>
                            </summary>
                            <div class="dropdown-content">
                                {%if kitchen.schedule %}
                                    <p style="display: flex; align-items: center;">{{lucide('calendar-fold', size=20, style="margin-right: 5px;")}} {{kitchen.schedule.name}}</p>
                                    <div style="overflow-x: scroll;">
                                        {%include "schedule_grid/schedule_static.html"%}
                                    </div>
                                {%else%}
                                    <p>No schedule available</p>
                                {%endif%}
                            </div>

                        </details>
                {%endfor%}
                </div>
        </div>
    </body>
</html>