<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'admin_dashboard.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'schedule_static.css')}}">
    </head>
    <body class="dashboard-page-body">
        <div class="dashboard">
            <div class="dashboard-nav">
                <h1>Admin Dashboard</h1>
                <div>
                    {{lucide("user-round", size=20)}}
                    <p style="margin-left: 5px;">{{g.user["username"]}}</p>
                </div>

                <form action="{{url_for('auth.logout')}}" method="post">
                    <button type="submit">Logout</button>
                </form>

                <form action="{{url_for('admin.kitchens')}}" method="get">
                    <button type="submit">Kitchens</button>
                </form>

                <form action="{{url_for('admin.schedules')}}" method="get">
                    <button type="submit">Schedules</button>
                </form>

                <form action="{{url_for('admin.menus')}}" method="get">
                    <button type="submit">Menus</button>
                </form>
            </div>
            <div class="info-section">
                {%if request.path == '/admin/dashboard/kitchens'%}
                    {%include "dashboard/kitchen_info_section.html"%}
                {%elif request.path == '/admin/dashboard/schedules'%}
                    {%include "dashboard/schedules_info_section.html"%}
                {%elif request.path == '/admin/dashboard/menus'%}
                    {%include "dashboard/menu_info_section.html"%}
                {%endif%}
            </div>
            
        </div>
    </body>
</html>