<div class="page-header">
    <h2>Kitchens {{lucide("chef-hat", size=20)}}</h2>
</div>
    {%for kitchen in kitchens%}
            <details class="info-dropdown">
                <summary class="info-dropdown-summary">
                        <div class="summary-header">
                            {{lucide('chevron-right', size=20)}}
                            {{ kitchen.info.username}}
                            {%if kitchen.info.operation == 'Closed'%}
                                {{lucide('dot', size=40, style="color: red;")}}
                            {%else%}
                                {{lucide('dot', size=40, style="color: green;")}}
                            {%endif%}
                        </div>
                </summary>
                <div class="dropdown-content">
                    <p style="display: flex; align-items: center;">{{lucide("info", size=20, style="margin-right: 5px;")}} Current Operations: {{kitchen.operation}}</p>
                    {%if kitchen.schedule %}
                        <p style="display: flex; align-items: center;">{{lucide('calendar-fold', size=20, style="margin-right: 5px;")}} {{kitchen.schedule.name}}</p>
                        <div style="overflow-x: scroll;">
                            {%set schedule_obj = kitchen.schedule%}
                            {%include "schedule_grid/schedule_static.html"%}
                        </div>
                    {%else%}
                        <p style="display: flex; align-items: center;">{{lucide('calendar-fold', size=20, style="margin-right: 5px;")}}No schedule available</p>
                    {%endif%}
                </div>

            </details>
    {%endfor%}