<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename = 'schedule_static.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'time_input.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'create_schedule_page.css')}}">
    </head>
    <body>
        <div class="schedule-creation-form">
            <form method="post">
                {%for message in get_flashed_messages()%}
                    <div class="flash-error">{{message}}</div>
                {%endfor%}

                <label for="name">Schedule Name</label>
                <input name="name" value="{{schedule_name}}" required>

                <div style="overflow-x: scroll;">
                    {%include 'schedule_grid/schedule_input.html'%}
                </div>
                <input type="submit" value="{{'Submit' if request.path =='/admin/dashboard/schedules/create' else 'Update'}}">
            </form>
            <form action="{{url_for('admin.cancel_schedule_creation')}}" method="post">
                    <button type="submit">Cancel</button>
            </form>
        </div>
    </body>
</html>