.time-field{
    cursor: pointer;
    margin: 2px;
    padding: 8px 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;

    font-size: 14px;
    font-family: inherit;

    background-color: #f9fafb;
    color: #111827;

    outline: none;
    transition: all 0.2s ease;
}

/* Hover */
.time-field:hover {
    border-color: #9ca3af;
}

/* Focus */
.time-field:focus {
    border-color: #2563eb;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

/* Disabled */
.time-field:disabled {
    background-color: #e5e7eb;
    cursor: not-allowed;
}

.time-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clear-btn {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    background-color: #e5e7eb00;
    color: #37415183;

    font-size: 12px;
    line-height: 1;

    cursor: pointer;
}